<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%= form_with(model: @link, local: true) do |form| %>

  <div> <!-- Original Url -->
    <%= form.label :url, class: 'control-label'%>
    <%=form.text_field :original_url, placeholder: "Enter a url" %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
